.logContainer{
  background: white;
  height: 100%;
  padding: 1em;
  overflow-y: auto;
  box-shadow: rgba(100,100,100,.15) 2px 2px 1px 0px;
}

.logContainer div{
  padding: .25px 1em;
  font-weight: bold;
  font-size: 1rem;
  margin: 0px;
}

.logContainer div span{
  color: gray;
  font-weight: 500;
  font-size: 12px;
  margin-left: 1em;
}
